<form {{on 'submit' this.submitComment}}>
  <label for='comment'>Comment:</label>
  <textarea id='comment'>{{this.comment}}</textarea>
  <input type='submit' class='comment-input' value='Submit' />
</form>