{{page-title 'EmberTesting'}}

{{! The following component displays Ember's default welcome message. }}
<h1>Welcome testing</h1>
<p>How to run tests:</p>
<ul>
  <li>ember test or ember t</li>
  <li>ember test --server or ember t -s</li>
  <li>by visiting localhost:4200/tests</li>
</ul>
{{! Feel free to remove this! }}

{{outlet}}